avengers.html
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Marvel Game Card</title>
  <link rel="stylesheet" href="./public/css/app.css">
</head>
<body>
  <section class="Layout">
    <section class="Layout-main">
      <div class="Layout-status"></div>
      <div class="Layout-battle">
        <div class="Battle">
          <div class="Battle-antagonist"></div>
          <div class="Battle-player">
            <div class="Card">
              <h2 class="Card-name">Wolverine</h2><img src="./public/img/wolverine.jpg" alt="Wolverine" class="Card-image">
              <div class="Card-description">Wolverine es muy poderoso</div>
              <div class="Card-attack">500 pts</div>
            </div>
            <div class="Card">
              <h2 class="Card-name">Wolverine</h2><img src="./public/img/wolverine.jpg" alt="Wolverine" class="Card-image">
              <div class="Card-description">Wolverine es muy poderoso</div>
              <div class="Card-attack">500 pts</div>
            </div>
            <div class="Card">
              <h2 class="Card-name">Wolverine</h2><img src="./public/img/wolverine.jpg" alt="Wolverine" class="Card-image">
              <div class="Card-description">Wolverine es muy poderoso</div>
              <div class="Card-attack">500 pts</div>
            </div>
            <div class="Card">
              <h2 class="Card-name">Wolverine</h2><img src="./public/img/wolverine.jpg" alt="Wolverine" class="Card-image">
              <div class="Card-description">Wolverine es muy poderoso</div>
              <div class="Card-attack">500 pts</div>
            </div>
            <div class="Card">
              <h2 class="Card-name">Wolverine</h2><img src="./public/img/wolverine.jpg" alt="Wolverine" class="Card-image">
              <div class="Card-description">Wolverine es muy poderoso</div>
              <div class="Card-attack">500 pts</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="./lib/app.js"></script>
</body>

lib/avengers.jade
doctype html
head
	meta(charset='utf-8')
	title Marvel Game Card
	link(rel='stylesheet', href='./public/css/app.css')
body
	section(class='Layout')
		section(class='Layout-main')
			div(class='Layout-status')
			div(class='Layout-battle')
				div(class='Battle')
					- _class = ''
					div(class='Battle-antagonist')
					div(class='Battle-player')
						each card in [1,2,3,4,5]
							include card/template.jade

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script(src='./lib/app.js')
